html, body, .full-height {
	min-height: 100%;
	box-sizing: border-box;
}

body {
	background-color: #103D82;
	margin: 0;
	padding: 10px;
	padding-top: 40px;
	
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {

}

#container {
	border-radius: 7px;
	padding: 20px;
	max-width: 800px;
	margin: auto;
	border: 1px solid black;
	/*padding-top: 15px;*/

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
}

.black-button {
	text-align: center;
	color: white;
	border: 1px solid black;
	font-weight: bold;
	box-sizing: border-box;
	cursor: pointer;
}

button {
	outline: none;
}

.checkbox {
	display: none;
}
.checkbox + label {
	background-color: #fff;
	border: 1px solid #58595B;
	margin: 0;
	width: 19px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	border-radius: 3px;
}
.checkbox:checked + label:before {
	content: " ";
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url(../Resources/checked.png);
	background-size: contain;
	left: 0px;
	bottom: 0px;
}

button {
	background: rgb(133,133,133);
	background: -moz-linear-gradient(top,  rgba(133,133,133,1) 0%, rgba(36,32,33,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,133,133,1)), color-stop(100%,rgba(36,32,33,1)));
	background: -webkit-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(36,32,33,1) 100%);
	background: -o-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(36,32,33,1) 100%);
	background: -ms-linear-gradient(top,  rgba(133,133,133,1) 0%,rgba(36,32,33,1) 100%);
	background: linear-gradient(to bottom,  rgba(133,133,133,1) 0%,rgba(36,32,33,1) 100%);
}

button:hover {
	background: rgb(55,55,55);
	background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(122,122,122,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(122,122,122,1)));
	background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(122,122,122,1) 100%);
	background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(122,122,122,1) 100%);
	background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(122,122,122,1) 100%);
	background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(122,122,122,1) 100%);
}

button:disabled {
	color: #999;
	border-color: #999;
	cursor: default;

	background: rgb(228,228,228);
	background: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(214,214,214,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(100%,rgba(214,214,214,1)));
	background: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(214,214,214,1) 100%);
	background: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(214,214,214,1) 100%);
	background: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(214,214,214,1) 100%);
	background: linear-gradient(to bottom,  rgba(228,228,228,1) 0%,rgba(214,214,214,1) 100%);
}

button.success,
button:enabled:active {
	background: rgb(0,86,159);
	background: -moz-linear-gradient(top,  rgba(0,86,159,1) 0%, rgba(0,133,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,86,159,1)), color-stop(100%,rgba(0,133,242,1)));
	background: -webkit-linear-gradient(top,  rgba(0,86,159,1) 0%,rgba(0,133,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,86,159,1) 0%,rgba(0,133,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,86,159,1) 0%,rgba(0,133,242,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,86,159,1) 0%,rgba(0,133,242,1) 100%);
}

button.error {
	background: rgb(255,51,0);
	background: -moz-linear-gradient(top,  rgba(255,51,0,1) 0%, rgba(210,43,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,0,1)), color-stop(100%,rgba(210,43,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,51,0,1) 0%,rgba(210,43,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,51,0,1) 0%,rgba(210,43,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,51,0,1) 0%,rgba(210,43,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,51,0,1) 0%,rgba(210,43,0,1) 100%);
}

button.big-button {
	border-radius: 5px;
	padding: 7px;
	font-size: 1.4em;
}

.hidden {
	display: none !important;
}

.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		font-size: 16px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		font-size: 12px;
	}
	
}