#settings .right {
	margin-left: 25%;
}
#settings .row + .row {
	margin-top: 10px;
}
#settings .row > * {
	box-sizing: border-box;
	margin: 0;
}
#settings .row > *:first-child {
	float: left;
	width: 25%;
}
#settings .row > *:nth-child(2) {
	float: right;
	width: 75%;
}

#settings .big-button {
	float: left;
}

#settings .big-button + .big-button {
	margin-left: 2%;
}

#settings .big-button.back {
	width: 100%;
}

#settings .big-button.save {
	width: 73%;
	text-align: center;
}
#settings .big-button.reset {
	width: 23%;
	margin-left: 2%;
}

#settings .big-button.save.showstate .text {
	display: none;
}

#settings .big-button.save img {
	width: 29px;
	display: none;
}

#settings .big-button.save.success .success {
	display: inline;
}

#settings .big-button.save.error .error {
	display: inline;
}

#settings .device-button {
	width: 100px;
	padding: 6px 0px;
	font-size: 0.9em;
	border-radius: 5px;
}

#settings input, #settings select {
	border-radius: 2px;
	border: 1px solid #999;
	padding: 3px;
	margin: 0;
}

#settings .password-controller {
	margin-top: 50px;
}

#settings .password-controller .password-problem {
	margin-top: 5px;
	color: #999;
}
#settings .password-controller .password-problem + div {
	margin-top: 5px;
}
#settings .password-controller .password-problem.hidden + div {
	margin-top: 10px;
}

#settings .password-controller .field > * {
	float: left;
	box-sizing: border-box;
}

#settings .password-controller .field input {
	width: 94%;
	width: calc(100% - 29px);
}

#settings .password-controller .field div {
	width: 5%;
	width: calc(20px);
	height: 20px;

	margin-left: 1%;
	margin-left: calc(5px);

	background-image: url(/Resources/cross-red.png);
	background-size: contain;
}

#settings .password-controller .field.correct div {
	background-image: url(/Resources/check-green.png);
}

#settings .silent-time-setup {
	display: none;
}

#settings.use-quiet-time .silent-time-setup {
	display: block; 
}

#settings .silent-time > div {
	float: left;
}

#settings .silent-time-setup > div {
	float: left;
	margin-left: 15px;
}
#settings .silent-time .explination {
	clear: both;
	font-size: 0.85em;

	margin-top: 0.4em;
}

#settings.use-quiet-time .silent-time .explination {
	margin-top: 0px;
}

#settings .timepicker-controller {
	display: inline;
}

#settings .timepicker + .timepicker {
	margin-left: 5px;
}

#settings table.notify td {
	padding: 5px 7px;
	white-space: nowrap;
}

#settings table.notify td:first-child {
	width: 100%;
	padding-left: 0px;
}
#settings table.notify td:nth-child(2),
#settings table.notify td:nth-child(3) {
	text-align: center;
}
#settings.use-quiet-time table.notify td:nth-child(3) {
	display: table-cell;
} 
#settings table.notify td:nth-child(3) {
	display: none;
	padding-right: 0px;
}
#settings .devices > div {
	margin-top: 15px;
}
#settings .device-controller.delete {
	color: #999;
}
#settings .device-right-col > :first-child {
	float: left;
}
#settings .device-right-col > :nth-child(2) {
	float: right;
}
#settings .device-right-col > :nth-child(3) {
	clear: left;
}
#settings .device-row + .device-row {
	margin-top: 0px;
}

@media (max-width: 500px) {
	#settings .silent-time .explination {
		margin-left: 35px;
	}
	#settings .silent-time-setup.hidden + .explination {
		margin-left: 0px;
	}
	#settings .silent-time-setup > div {
		text-align: right;
		float: none;
	}
}