#modal {

}

#modal .fill {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#modal > .overlay {
	background: black;
	opacity: 0.6;
	z-index: 100;
}

#modal > .modal {
	position: absolute;
	z-index: 101;
}

#modal > .modal .overlay {
	z-index: 0;
}

#modal > .modal .container {
	z-index: 1;
	text-align: center;
	pointer-events: none;
}
#modal > .modal .container .inner {
	margin: 10% 10px;
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 10px;
	min-width: 30%;
	max-width: 85%;
	width: 500px;
	pointer-events: all;
	max-height: 85%;
    overflow-y: auto;
}

#modal > .modal .inner .title {
	font-size: 30px;
	font-family: inherit;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
#modal > .modal.prompt .inner .title {
	font-size: 20px;
}

#modal > .modal .inner > * + * {
	margin-top: 10px;
}

#modal > .modal .inner button {
	min-width: 100px;
	max-width: calc(50% - 4px);
}
#modal > .modal .inner button + button {
	margin-left: 7px;
}

@media (max-width: 600px) {
	#modal > .modal .inner .title {
		font-size: 24px;
	}
}

@media (max-width: 450px) {
	#modal > .modal .inner .title {
		font-size: 21px;
	}
}