#overview {
	font-size: 14px;
	padding: 10px;
}

#overview .page {
	width: 50%;
	height: 50%;
	float: left;
	cursor: pointer;

	box-sizing: border-box;
}

#overview a {
	text-decoration: none;
	color: inherit;
}

#overview .alarms .empty-view {
	margin-top: 20px;
	font-size: 18px;
}

#overview .page:nth-child(1) {
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;

	padding-right: 20px;
	padding-bottom: 20px;
}
#overview .page:nth-child(2) {
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;

	padding-left: 20px;
	padding-bottom: 20px;
}

#overview .page:nth-child(3) {
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;

	padding-right: 20px;
	padding-top: 20px;
}

#overview .page:nth-child(4) {
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;

	padding-left: 20px;
	padding-top: 20px;
}

@media (max-width: 650px), (max-height: 650px) {
	#overview {
		font-size: 13px;
		padding: 0;
	}

	#overview .page:nth-child(1) {
		padding-right: 10px;
		padding-bottom: 10px;
	}
	#overview .page:nth-child(2) {
		padding-left: 10px;
		padding-bottom: 10px;
	}

	#overview .page:nth-child(3) {
		padding-right: 10px;
		padding-top: 10px;
	}

	#overview .page:nth-child(4) {
		padding-left: 10px;
		padding-top: 10px;
	}
}

#overview .no-farm-container {
	width: 80%;
}
#overview .no-farm-text {
	text-align: center;
	word-wrap: break-word;
	font-size: 30px;
	font-weight: bold;
}
#overview .no-farm button {
	padding: 10px;
	margin-top: 10px;
}