#settings .right {
	margin-left: 25%;
}
#settings .row + .row {
	margin-top: 10px;
}
#settings .row > * {
	box-sizing: border-box;
	margin: 0;
}
#settings .row > *:first-child {
	float: left;
	width: 25%;
	word-wrap: break-word;
	hyphens: auto;
}
#settings .row > *:nth-child(2) {
	float: right;
	width: 75%;
}

#settings .big-button {
	float: left;
}

#settings .big-button + .big-button {
	margin-left: 2%;
}

#settings .big-button.back {
	width: 100%;
}

#settings .big-button.save {
	width: 73%;
	text-align: center;
}
#settings .big-button.reset {
	width: 23%;
	margin-left: 2%;
}

#settings .big-button.save img {
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
}

#settings .device-button {
	width: 100px;
	padding: 6px 0px;
	font-size: 0.9em;
	border-radius: 5px;
}

#settings input, #settings select {
	border-radius: 2px;
	border: 1px solid #999;
	padding: 3px;
	margin: 0;
}

#settings .password {
	margin-top: 50px;
}

#settings .password .password-problem {
	margin-top: 5px;
	color: #999;
}
#settings .password .password-problem + div {
	margin-top: 5px;
}
#settings .password .password-problem.ng-hide + div {
	margin-top: 10px;
}

#settings .password .field > * {
	float: left;
	box-sizing: border-box;
}

#settings .password .field input {
	width: 94%;
	width: calc(100% - 29px);
}

#settings .password .field .check {
	width: 5%;
	width: calc(20px);
	height: 20px;

	margin-left: 1%;
	margin-left: calc(5px);

	background-image: url(/Resources/cross-red.png);
	background-size: contain;
}

#settings .password .field.correct .check {
	background-image: url(/Resources/check-green.png);
}

#settings .silent-time > div {
	float: left;
}
#settings.ignore-quiet-time .silent-time-setup {
	display: none;
}

#settings .silent-time-setup > div {
	float: left;
	margin-left: 15px;
}
#settings .silent-time .explination {
	clear: both;
	font-size: 0.85em;
}

#settings.ignore-quiet-time .silent-time .explination {
	margin-top: 0.4em;
}

#settings .timepicker .minutes {
	margin-left: 5px;
}

#settings table.notify td {
	padding: 5px 7px;
	min-width: 120px;
}

#settings table.notify tr {
	max-width: 100vh;
}

#settings table.notify td:first-child {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	width: 100%;
	padding-left: 0;
}
#settings table.notify td:nth-child(2),
#settings table.notify td:nth-child(3) {
	text-align: center;
}
#settings table.notify td:nth-child(3) {
	padding-right: 0;
}
#settings.ignore-quiet-time table.notify td:nth-child(3) {
	display: none;
}
#settings .devices > div {
	margin-top: 15px;
}
#settings .device-controller.delete {
	color: #999;
}
#settings .device-right-col > div {
	width: calc(100% - 100px);
}
#settings .device-right-col > :first-child {
	float: left;
}
#settings .device-right-col > :nth-child(2) {
	float: right;
}
#settings .device-right-col > :nth-child(3) {
	clear: left;
}
#settings .device-row + .device-row {
	margin-top: 0px;
}
@media (max-width: 700px) {
	#settings .big-button.save {
		width: 48%;
	}
	#settings .big-button.reset {
		width: 48%;
	}
}
@media (max-width: 500px) {
	#settings .silent-time .explination {
		margin-left: 35px;
	}
/*	#settings .silent-time-setup.hidden + .explination {
		margin-left: 0px;
	}*/
	#settings .silent-time-setup > div {
		text-align: right;
		float: none;
	}

	#settings table.notify td {
		min-width: 50px;
	}

	#settings {
		font-size: 14px;
	}

	#settings .checkbox + label {
		width: 17px;
		height: 17px;
	}
}

@media (max-width: 350px) {
	#settings table.notify td {
		min-width: 40px;
	}
}

@media (max-width: 390px) {
	#settings .right {
		margin-left: 10%;
	}

	#settings .right button{
		font-size: 15px;
	}
}
