body {
    font-family: sans-serif;
	background-color: #103d82;
}
div.alarms, div.filter {
	margin: 0.5%;
    width: 99%;
	font-family: Verdana;
	color: white;
}
table.filter {
    border-spacing: 0px 3px;
	border-color: black;
	border-style: inset;
	border-spacing: 1px;
}
table.alarms {
    border-spacing: 0px 3px;
	border-color: black;
	border-style: inset;
	border-spacing: 1px;
    width: 100%;
}
table.alarms tr {
	cursor: pointer;
}
table.alarms.topCmd {
}
table.alarms div.buttons button {
	border-radius: 7px;
}
table.alarms td.headingCell div {
	text-emphasis: yellow;
	white-space: nowrap;
}
table.alarms td.infoCell {
	overflow: hidden;
	white-space: nowrap;
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	white-space: nowrap;
	text-align: right;
}
table.alarms td.dayCell div {
	background-color: #67758A;
}
table.alarms td.other div {
	background-color: #305185;
}
table.alarms td.infoCell div.cInfoCell {
	overflow: hidden;
}
div.day {
	border-color: black;
	border-width: 3px;
	background-color: white;
}
table.minor tr.Stop {
	background-color: #D19B99;
}
table.minor td.dayNumb {
	text-align: right;
}
table.minor td.dayHead {
	font-weight: bold;
}
