div.can {
	position: absolute;
	height: 99%;
	width: 98.5%;
	left: 1%;
	background: #cccccc;
	background: -webkit-gradient(linear,0 0,0 100%,from(#d8d8d8),to(#c0c0c0));
	border-radius: 10px;
	box-shadow: 4px 4px 4px #888;	
}
div.can div.canPane {
	position: absolute;
	top: 51px;
	left: 0%;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
div.can div.buttonPane {
	position: absolute;
	height: 50px;
	top: 0px;
	left: 0%;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}
div.can div.buttonPane div.buttonSelect {
	width: 98%;
	margin-left: 1%;
}
div.can div.buttonPane button {
	width: 98%;
	margin-left: 1%;
}
div.can div.buttonPane button.buttonSelect img {
	margin-top: 4px;
	position: absolute;
	right: 10px;
}
div.can div.innerCanPane {
	position: absolute;
}
div.can button.canButton {
	width: 95%;
	margin: 4%;
	margin-right:1%;
	font-weight: normal;
	cursor: pointer;
}
/*div.can div.activeButton {
	color: #000000;
	font-weight: bold;
	background-color: #c5c5c5;
	background: -webkit-gradient(linear,0 0,0 100%,from(#c5c5c5),to(#f2f2f2));
	border-radius: 7px;
	text-align: center;
	border: 2px outset buttonface;
	border-image: initial;
	box-sizing: border-box;
}*/