body {
	font-family: Verdana;
}
.background {
	padding:5px;
}
.mouseBoxDiv{
	box-shadow: 7px 7px 9px #183180;
	border-style: groove;
	border-width: 4px;
}
.topHeading {
	text-align: center;
	font-size: larger;
	font-weight: bold;
	color: #ffffff;
	height: 50px;
}
.topHand {
	cursor: pointer;
}
.center {
	text-align: center;
}
.statisticsCommand {
	color: #ffffff;
	background-color: #103d82;
	background: -webkit-gradient(linear,0 0,0 100%,from(#586C8A),to(#103d82));
	font-size: medium;
}
.dialogHeading {
	padding: 1px;
	font-size: large;
	text-align: center;
	font-weight: bold;
}
.dialogTable {
	border-spacing: 10px;
	border-collapse: collapse;
	width: 92%;
}
.dialogLabField{
	text-align: right;
}
.dialogValueField{
	color: whitesmoke;
	background-color: #3366ff;
	font-size: large;
	font-weight: bold;
}
.dialogValueField:disabled{
	background-color: rgba(51, 102, 255, 0.5);
}
.dialogArea{
	box-shadow:7px 7px 9px #183180;
}
.dialogArea1{
	border-style: groove;
	border-width: 4px;
}
.top {
	padding:5px;
	width: 100%;
}
.betweenSpace {
	width: 50px;
	display: inline;
}
table.styleTable {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}
.opac {
	opacity:0.4;
}
.dynamicDiv {
	position: absolute;
	z-index: 999;
}
.dynamicDivContent {
	border: black 3px solid;
	background-color: GhostWhite;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}
table.styleTable tr td div.headlabel {
	cursor: pointer;
}
table.styleTable tr td div.headchoosen {
	cursor: pointer;
	color: orange;
}
table.styleTable tr td {
	padding: 0px;
	padding-left: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-top: 1px;
}
table.styleTable tr td:first-of-type {
}
table.styleTable tr td div.container {
	cursor: pointer;
	padding: 3px;
}
table.styleTable tr td div.headlabel {
	cursor: pointer;
}
table.styleTable tr td div.headchoosen {
	cursor: pointer;
	color: orange;
}

table.styleTable tr td:first-of-type div.container {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
table.styleTable tr td:last-of-type div.container {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

table.styleTable tr td:first-of-type div.headlabel {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
table.styleTable tr td:last-of-type div.headlabel {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
table.styleTable tr td:first-of-type div.headchoosen {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
table.styleTable tr td:last-of-type div.headchoosen {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.scrollbarY {
	overflow-y: auto;
}
.leftJustify {
	text-align: right;
}
.graphHead {
	font-weight: bold;
	font-size: x-large;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.styleRubber{color:#ffffff;background-color:#555555;background:-webkit-gradient(linear,0 0,0 100%,from(#7a7a7a),to(#373737));}
.styleBlue{color:#ffffff;background-color:#00579e;background:-webkit-gradient(linear,0 0,0 100%,from(#00579e),to(#3e7dc0));}
.styleRed{color:#ffffff;background-color:#ff1010;background:-webkit-gradient(linear,0 0,0 100%,from(#b71919),to(#ff2323));}
.styleYellow{color:#000000;background-color:#ffff00;background:-webkit-gradient(linear,0 0,0 100%,from(#c8c800),to(#ffff00));}
.styleWhite{color:#000000;background-color:#dedede;background:-webkit-gradient(linear,0 0,0 100%,from(#cecece),to(#f0f0f0));}
.styleOrange{color:#000000;background-color:#d92f7b;background:-webkit-gradient(linear,0 0,0 100%,from(#de6c00),to(#dea46d));}
.styleLightBlue{color:#ffffff;background-color:#4f9bff;background:-webkit-gradient(linear,0 0,0 100%,from(#4f9bff),to(#9dc5ff));}
.styleGrey{color:#000000;background-color:#bdbdbd;background:-webkit-gradient(linear,0 0,0 100%,from(#acacac),to(#cecece));}
.styleGreen{color:#000000;background-color:#90ee90;background:-webkit-gradient(linear,0 0,0 100%,from(#8FEA8F),to(#99F799));}
.styleLGreen{color:#ffffff;background-color:#008000;background:-webkit-gradient(linear,0 0,0 100%,from(#007000),to(#00a000));}
.styleBackground{border-radius:7px;color:#000000;background-color:#103d82;background:-webkit-gradient(linear,0 0,0 100%,from(#103d82),to(#103d82));}
.styleDialog{margin:10px;border-radius:6px;color:#000000;background-color:#e0e0e0;background:-webkit-gradient(linear,0 0,0 100%,from(#d8d8d8),to(#ffffff));}
.styleDiagram{margin:10px;border-radius:6px;color:#000000;background-color:#e0e0e0;background:-webkit-gradient(linear,0 0,0 100%,from(#b8b8b8),to(#d8d8d8));}

.styleRole{color:#000000}
.styleCleanTop{color:#ffffff}
.styleCleanNo{color:#aaaaaa}
.styleLine{border-bottom-width: 2px;}
.styleCleanOk{cursor:pointer;background-color:#dedede;background:-webkit-gradient(linear,0 0,0 100%,from(#cecece),to(#f0f0f0));}
.styleCleanWarn{cursor:pointer;background-color:#ffff00;background:-webkit-gradient(linear,0 0,0 100%,from(#c8c800),to(#ffff00));}
.styleCleanAlarm{cursor:pointer;background-color:#ffff00;background:-webkit-gradient(linear,0 0,0 100%,from(#b71919),to(#ff2323));}

div.menuImage {
	position: absolute;
	right: 15px;
	top: 15px;
}
span.logo {
	left: 15px;
	top: 15px;
	position: absolute;	
}
div.menuSelect {
	width: 60px;
	height: 60px;
	right: 5px;
	top: 5px;
	position: absolute;
	overflow: auto;
	opacity: 0;
	z-index: 2;
}
div.menuSelect select.menu {
	width: 58px;
	height: 58px;
	cursor: pointer;
	-webkit-appearance: menulist-text;
}
.comErr {
	position: absolute;
	top: 11px;
	margin-left: 15px;	
}
.selected {
	font-weight: bolder;
	font-style: italic;
}
