.cowq-container {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
}

.cowq-container + .cowq-container {
	margin-top: 4px;
}
.cowq-container > * {
	float: left;
}

.cowq-container .cow-container {
	width: 95%;
	width: calc(100% - 19px);
}
.cowq-container .icon-container {
	width: 5%;
	width: calc(19px);
}
.cow-container .cow-cell {
	float: left;
	/*The height should be the same as font-size (that will be set with js)*/
	height: 20px;
	/*Used to make sure that long cells will have their text cut with three dots ("...")*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.icon-container .icon {
	/*The height should be the same as font-size (that will be set with js)*/
	height: 20px;
	display: none;
}

@media all and (max-width: 500px) {
	.cow-container .cow-cell {
		width: 50%;
	}
	/*Border on the icon and the first 2 elements (color inherited from class in cowq.css)*/
	.icon-container .icon:first-child,
	.cow-container .cow-cell:first-child,
	.cow-container .cow-cell:nth-child(2) {
		border-bottom: 1px solid;
	}
	.icon-container .icon:first-child,
	.icon-container .icon:nth-child(2),
	.icon-container .icon:nth-child(3) {
		display: block;
	}
}
@media all and (min-width: 501px) and (max-width: 700px) {
	.cow-container .cow-cell {
		/*Because calc() doesn't work as expected in IE (~100/3)*/
		width: 33.33%;
	}
	/*Border on the icon and the first 3 elements (color inherited from class in cowq.css)*/
	.icon-container .icon:first-child,
	.cow-container .cow-cell:first-child,
	.cow-container .cow-cell:nth-child(2),
	.cow-container .cow-cell:nth-child(3) {
		border-bottom: 1px solid;
	}
	.icon-container .icon:first-child,
	.icon-container .icon:nth-child(2) {
		display: block;
	}
}
@media all and (min-width: 701px) {
	.cow-container .cow-cell {
		/*Because calc() doesn't work as expected in IE (~100/6)*/
		width: 16.66%;
	}
	.icon-container .icon:first-child {
		display: block;
	}
}

/*Clearfix "library" for automatic clearing (used by the cow-containers)*/
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}