<div id="edit-user" class="ver-set full-height">
	<form class="section" name="userForm" extract-with="getFormData" extract-from="data">
		<input type="hidden" extract-as="target">
		<input type="hidden" extract-as="id" extract-value="user.id">
		<input type="hidden" extract-as="pwd" extract-value="0">
		<input type="hidden" extract-as="status" extract-value="user.status">
		<input type="hidden" extract-as="roles" extract-value="user.roles">
		
		<div class="header title">
			<span ng-if="!add" translate="Edit user"></span>
			<span ng-if="add" translate="New user"></span>
		</div>

		<div class="content">
			<label class="input-label" for="edit-user-first-name" translate="First name"></label>
			<input ng-model="user.firstName" extract-as="firstName" class="input selectable" id="edit-user-first-name" type="text" required>
		</div>

		<div class="content">
			<label class="input-label" for="edit-user-last-name" translate="Last name"></label>
			<input ng-model="user.lastName" extract-as="lastName" class="input selectable" id="edit-user-last-name" type="text" required>
		</div>

		<div class="content">
			<label class="input-label" for="edit-user-email" translate="e-mail"></label>
			<input ng-model="user.email" extract-as="email" ng-disabled="!add" class="input selectable" id="edit-user-email" type="email" required>
		</div>

		<button ng-if="!add" class="content new-password big-button black-button" ng-click="requestNewPassword()" translate="Create new password"></button>

		<div class="content">
			<div class="input-label" translate="Roles"></div>
			<div class="role" ng-repeat="role in roles" ng-class="{'no-access': !role.accessible}">

				<j$-checkbox j$-disabled="!role.accessible" ng-change="extractRoles()" ng-model="role.checked" use-id="role-checkbox-{{$index}}"></j$-checkbox>
				<label for="role-checkbox-{{$index}}" ng-bind="role.name"></label>
			</div class="role">
		</div>
	</form>
	<div class="lower-buttons clearfix">
		<button class="big-button black-button" ng-if="!add" translate="Reset" ng-click="reset()" ng-disabled="isFormSame()"></button>
		<button class="submit big-button black-button" ng-click="submit()" ng-disabled="userForm.$invalid || isFormSame() || !isFormValid()">
			<span ng-if="!add" translate="Save"></span>
			<span ng-if="add" translate="Add"></span>
		</button>	
	</div>
</div>