/*Use .cowq instead of #cowq to share with the detail view /cowq/cow*/

#cowq > * + *,
#cowq .cow + .cow {
	margin-top: 7px;
}

#cowq .cow {
	display: block;
	color: black;
	padding: 2px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}



/*
Aktivera dess tre stilar samt ta bort de två över för att aktivera den nya designen.

#cowq > * + *,
#cowq .cow + .cow {
	margin-top: 0;
}

#cowq .cow {
	display: block;
	color: black;
	padding: 2px 11px;
	border-bottom: 1px solid black;
	cursor: pointer;
}
*/




.cowq {
	font-size: 18px;
}
.cowq button,
.cowq .button {
	border-radius: 10px;
}

.cowq .component {
	height: 50px;
	margin-bottom: 2px;
	margin-top: 5px;
}
.cowq .component > * {
	height: 100%;
	float: left;
}
.cowq .component > * + * {
	margin-left: 10px;
}

.cowq .component .icon {
	width: 50px;
	padding: 0px;
	position: relative;
}
.cowq .component .icon:after {
	content: " ";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;

	background-repeat: no-repeat;
}
.cowq .component .icon.by-incomplete:after {
	left: -7px;
}
.cowq .action-bar {
	margin-bottom: 15px;
}
.cowq .action-bar .back:after {
	background: url(/Resources/arrow_white.png);
}
.cowq .action-bar .search:after {
	background: url(/Resources/search50.png);
}
#cowq .action-bar .select-profile {
	width: calc(100% - 120px);
}
.cowq .action-bar .icon.by-color:after {
	background-image: url(/Resources/sort_colored.png);
	background-size: cover;
	transform: rotate(0deg);
}


/*Gör denna till en kommentar för att avaktivera rotationen av sorteringsikonen*/
.cowq .reverse .icon.by-color:after {
	transform: rotate(180deg);
}


/* Gamla markeringsfärger (grön och blå)
.cowq .action-bar button.selected {
	background: #00a6ff;
}

.cowq .action-bar.reverse button.selected {
	background: #77ad1c;
}*/

.cowq .sort .icon.by-incomplete:after {
	background-image: url(/Resources/udder_white.png);
}
.cowq .sort button.selected {
	background: #00a6ff;
}

.cowq .sort.reverse button.selected {
	background: #77ad1c;
}

#cowq .wait-area .inner,
#cowq .wait-area button {
	width: 100%;
}
.cowq .sort-container {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
	background: #f3f3f3;
}
#cowq .sort-container {
	border-radius: 5px;
}
.cowq .sort .filter {
	width: 100%;
}
.cowq .sort .cow-cells {
	width: calc(100% - 65px);
	float: left;
	font-weight: bold;
}
.cowq .sort .cow-cell {
	cursor: pointer;
	padding-bottom: 18px;
	padding-top: 20px;
	font-size: 14px;
}
.cowq .sort .cow-cell.selected {
	font-weight: bold;
	color: #00a6ff;
}
.cowq .sort.reverse .cow-cell.selected {
	color: #77ad1c;
}

.cowq .sort .buttons {
	float: left;
	margin-right: 15px;
}
.cowq .sort .buttons button {
	width: 50px;
}
.cowq .sort .buttons button:after {
	width: 50px;
}
.cowq .sort .group-name {
	position: relative;
	top: 2px;
	font-size: 20px;
	font-weight: bold;
}
#cowq .sort .groups .cancel-search {
	display: none;
}
#cowq .sort .groups.search .cancel-search {
	display: block;
	margin-left: 0px;
}

#cowq .sort .groups.search .select-group {
	display: none;
}

#cowq .sort-container {
	position: relative;
}

#cowq .sort .collapse-button {
	width: calc(100% - 170px);
	position: absolute;
	left: 85px;
	bottom: 0px;
	height: 50px;
	margin: auto;
}
#cowq .sort.collapsed .collapse-button {
	width: 100%;
	left: 0px;
}

#cowq .item .icons {
	width: 63px;
}

#cowq .item .icons .icon-left {
	float: left;
}

#cowq .item .icons .icon-right {
	float: left;
	margin-top: 8px;
}

#cowq .item .icons .status-container {
	width: 18px;
	height: 22px;
	padding-left: 0;
	padding-right: 7px;
	padding-top: 7px;
}

#cowq .item .icons .status-top {
	height: 5px;
	width: 20px;
	background-size:cover !important;
	background: url('/Resources/cowq_top.png') no-repeat center;
}

#cowq .item .icons .status-cell {
	width: 7px;
	height: 7px;
	margin: 1px;
	float: left;
	background-size: cover !important;
}

#cowq .item .icons .status-cell.red {
	background: url('/Resources/cowq_red.png') no-repeat;
}

#cowq .item .icons .status-cell.white {
	background: url('/Resources/cowq_white.png') no-repeat;
}

.select-arrows {
	float: left;
	width: 15px;
	height: 24px;
	background-size: contain;
}

.select-text {
	float: left;
	width: calc(100% - 20px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cowq .item .icons {
	width: 65px;
	height: 48px;
	float: left;
}

.cowq .item .icons > * {
	width: 25px;
	height: 29px;
	margin-top: 4px;
	margin-left: 2px;
}

#cowq .cow .icons > *:first-child {
	padding-bottom: 3px;
}

.cowq .item .info {
	width: calc(100% - 65px);
	float: left;
	color: inherit;
	margin-top: 15px;
}

#cowq .item .info {
	width: calc(100% - 65px);
}

#cowq .cow .cow-head {
	background-image: url(/Resources/cowhead_b.png);
	background-size: 1em 1em;
	background-repeat: no-repeat;
	background-origin: content-box;
	margin-top: 13px;
}
.cowq .cow-cell {
	height: 22px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
}

.cowq .cow-cell span {
	vertical-align: top;
	margin-top: 1px;
}

.cowq .sort-controls-container {
	position: relative;
}

.cowq .sort-controls-container .cow-cells {
	width: calc(100% - 65px);
	margin-left: 65px;
}

.cowq .sort-controls-container .cow-cells .cow-cell {
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 8px;
}

.cowq .sort-controls-container .buttons {
	position: relative;
	top: 4px;
	left: 0;
	width: 100%;
}

.cowq .sort-controls-container .buttons button {
	position: absolute;
	top: 0;
	height: 50px;
}

.cowq .sort-controls-container .buttons button:nth-child(2) {
	right: 0;
}

@media (max-width: 599px) {
	#cowq .item .info {
		width: calc(100% - 32px);
	}
	.cowq .cow-cell {
		width: calc(100% / 2);
	}
	#cowq .cow .info .cow-cell:nth-child(-n+2) {
		padding-bottom: 3px;
	}
	.cowq .item .info .cow-cell:nth-child(2n+1) {
		width: calc(100% / 2 - 1px);
	}
	/*Account for calc rounding issues in IE*/
	.cowq .cow-cell:nth-child(2n+1) {
		width: calc(100% / 2 - 1px);
	}
	.cowq .sort .buttons {
		margin-top: 21px;
	}
	.cowq .sort .sort-controls-container .buttons {
		margin-top: 0;
	}
	#cow .milkings .icons .status-container {
		margin-top: 13px !important;
	}
	.cowq .item .info {
		margin-top: 3px;
	}
	.cowq .item .icons > * {
		margin-top: 12px;
	}
	.cowq .item .icons {
		margin-top: 3px;
	}
	.cowq .sort-controls-container {
		position: static;
	}

	.cowq .sort-controls-container .cow-cells {
		position: static;
		float: left;
	}

	.cowq .sort-controls-container .cow-cells .cow-cell {
		font-size: 15px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.cowq .sort .cow-cells {
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: 0;
		width: calc(100% - 65px);
	}

	#cowq .sort .cow-cells {
		margin-top: 5px;
		margin-bottom: 0;
		margin-left: 32px;
		width: calc(100% - 32px);
	}

	.cowq .sort .cow-cell {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#cowq .item .icons {
		width: 30px;
		margin-right: 2px;
	}

	#cowq .item .icons .icon-left {
		float: left;
		margin-top: 5px;
	}

	#cowq .item .icons .icon-right {
		float: left;
		margin-top: -7px;
		margin-left: -2px;
	}

}
@media (min-width: 600px) {
	.cowq .cow-cell {
		width: calc(100% / 6);
	}
	#cowq .cow .info .cow-cell:nth-child(-n+3) {
		padding-bottom: 3px;
	}
	.cowq .item .info .cow-cell:nth-child(3n+1) {
		width: calc(100% / 6);
	}
	.cowq .cow-cell:nth-child(3n+1) {
		width: calc(100% / 6);
	}
}

@media (min-width: 600px) and (max-width: 750px) {
	.cowq .cow-cell {
		width: calc(100% / 3);
	}
	#cowq .cow .info .cow-cell:nth-child(-n+3) {
		padding-bottom: 0;
	}
	.cowq .item .info .cow-cell:nth-child(3n+1) {
		width: calc(100% / 3);
	}
	.cowq .cow-cell:nth-child(3n+1) {
		width: calc(100% / 3);
	}
	.cowq .item .info {
		margin-top: 3px;
	}
	.cowq .sort .buttons {
		margin-top: 6px;
	}
	.cowq .sort .cow-cells {
		margin-top: 5px;
	}
	.cowq .sort .cow-cell {
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.cowq .sort-controls-container .cow-cells .cow-cell {
		font-size: 15px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

}



#cowq .cow.overdue,
.cowq .cow.overdue {
	color: white;

	background: #ff3300;
}
#cowq .cow.overdue .icons > *:first-child,
#cowq .cow.overdue .info .cow-cell {
	border-color: rgba(255, 255, 255, 0.5);
}

#cowq .cow.permission,
.cowq .cow.permission {
	background: #ffd300;
}

#cowq .cow.permission .icons > *:first-child,
#cowq .cow.permission .info .cow-cell {
	border-color: rgba(0, 0, 0, 0.5);
}

#cowq .cow.passthrough,
.cowq .cow.passthrough {
	color: white;

	background: #77ad1c;
}
#cowq .cow.passthrough .icons > *:first-child,
#cowq .cow.passthrough .info .cow-cell {
	border-color: rgba(255, 255, 255, 0.5);
}

#cowq .cow.feedonly,
.cowq .cow.feedonly {
	color: black;

	background: #BEE646;
}
#cowq .cow.feedonly .icons > *:first-child,
#cowq .cow.feedonly .info .cow-cell {
	border-color: rgba(0, 0, 0, 0.5);
}

#cowq .cow.nopermission,
.cowq .cow.nopermission {
	background: #d8d8d8;
}

#cowq .cow.nevermilked,
.cowq .cow.nevermilked {
	color: white;

	background: #fcb577;
}
#cowq .cow.nevermilked .icons > *:first-child,
#cowq .cow.nevermilked .info .cow-cell {
	border-color: rgba(255, 255, 255, 0.5);
}

#cowq .cow.overdue .cow-head,
#cowq .cow.passthrough .cow-head,
#cowq .cow.nevermilked .cow-head {
	background-image: url(/Resources/cowhead_w.png);
}

.cowq .cow-cell .icon {
    height: 19px;
	width: 18px;
	position: relative;
	margin-right: 1px;
}
.cowq .cow-cell .cow-nr {
    font-weight: bold;
}

.cowq .empty-view {
	text-align: center;
	padding-top: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}
