#users .add-user {
	width: 100%;
	margin-bottom: 15px;
}

#users button {
	border-radius: 10px;
}

#users .user button {
	font-size: 18px;
	width: 110px;
}

#users .user {
	width: calc(100% - 10px);
	margin-left: 10px;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 0;
	display: block;
}
#users .user .left-column {
	width: 100%;
	float: left;
}

#users input.select:checked + .user .left-column {
	width: calc(100% - 110px);
}

#users .user .left-column .row > div {
	float: left;
}
#users .user .left-column .row > div:nth-child(1) {
	width: 180px;
}
#users .user .left-column .row > div:nth-child(2) {
	width: calc(100% - 180px);
	padding-left: 3px;
	box-sizing: border-box;
}
#users .user .left-column .row {
	font-weight: bold;
	color: #575757;
	font-size: 15px;
}

#users .user .left-column .row.role {
	color: #000;
	font-size: 20px;
	box-sizing: border-box;
	display: block;
}
/*
#users .user .left-column .left-info {
	min-width: 300px;
}*/

#users .user .left-column .row.role:first-child {
	padding-top: 5px;
}
#users .user .left-column .row.role:last-child {
	padding-bottom: 10px;
}
#users .user .left-column .row,
#users .user .right-column {
	display: none;
}

#users input.select:checked + .user {
	cursor: auto;
}

#users .user {
	cursor: pointer;
}

#users .user .left-column .row.role,
#users input.select:checked + .user .left-column .row,
#users input.select:checked + .user .right-column {
	display: block;
}

#users input.select:checked + .user .left-column .row.role {
	color: #103d82;
}

#users .user .right-column {
	width: 110px;
	float: right;
}

#users .user .right-column > button:first-child {
	margin-bottom: 10px;
}


#users .user.inactive .left-column {
	opacity: 0.4;
}

#users input.select {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

@media all and (max-width: 500px) {
	#users .user .left-column .row.role {
		font-size: 18px;
	}
	#users .user .left-column .row {
		font-size: 14px;
	}
	#users .user button {
		font-size: 16px;
		width: 100px;
	}
	#users input.select:checked + .user .left-column {
		width: calc(100% - 100px);
	}
	#users .user .right-column {
		width: 100px;
	}
	#users .user .left-column .row > div:nth-child(1) {
		width: 130px;
	}
	#users .user .left-column .row > div:nth-child(2) {
		width: calc(100% - 130px);
		box-sizing: border-box;
	}
}
@media all and (max-width: 450px) {
	#users .user .left-column .row.role {
		font-size: 16px;
	}
	#users .user .left-column .row {
		font-size: 13px;
	}
	#users .user button {
		padding: 5px;
	}
	#users .user .left-column .row > div:nth-child(1) {
		width: 110px;
	}
	#users .user .left-column .row > div:nth-child(2) {
		width: calc(100% - 110px);
	}
	#users .user .right-column button:first-child {
		margin-bottom: 5px;
	}

	#users .user .left-column .row > div:nth-child(1) {
		width: 130px;
	}
	#users .user .left-column .row > div:nth-child(2) {
		width: calc(100% - 130px);
	}

	#users .user .right-column {
		float: left;
		width: 100%;
	}

	#users .user .right-column button {
		float: left;
		margin-top: 6px;
		width: 120px;
	}

	#users .user .right-column button:first-child {
		margin-right: 10px;
	}

	#users .user .right-column a {
		float: left;
		display: inline-block;
	}

	#users input.select:checked + .user .left-column {
		width: 100%;
	}

}
@media all and (max-width: 400px) {

	#users .user .left-column .row > div:nth-child(1) {
		width: 130px;
	}

	#users .user .left-column .row > div:nth-child(2) {
		width: calc(100% - 130px);
	}

	#users input.select:checked + .user .left-column {
		width: 100%;
	}

	#users .add-user {
		font-size: 18px;
	}
	/*#users .header.title {
		font-size: 16px;
	}*/

	#users .user .left-column .row.role {
		font-size: 15px;
	}
	#users .user .left-column .row {
		font-size: 12px;
	}
	#users .user button {
		font-size: 14px;
	}
}

@media all and (max-width: 350px) {
	#users .add-user {
		font-size: 18px;
	}
	#users .user {
		width: calc(100% - 5px);
		margin-left: 5px;
	}
	#users .user .header.title {
		font-size: 16px;
	}
	#users .user .left-column .row.role {
		font-size: 15px;
	}
	#users .user .left-column .row {
		font-size: 12px;
	}
	#users .user .right-column button {
		font-size: 14px;
		width: 90px;
	}

	#users .user .left-column .row > div:nth-child(1) {
		width: 100px;
	}

	#users .user .left-column .row > div:nth-child(2) {
		width: calc(100% - 100px);
	}

	#users input.select:checked + .user .left-column {
		width: 100%;
	}
}