<div id="farms">
	<button ng-click="refresh($event)" class="black-button refresh"></button>
	<table hover-display>
		<thead ng-class="{reversed: sortDir === -1}">
			<tr>
				<td translate="Farm"
					ng-click="setSortCol(0)"
					ng-class="{selected: sortCol === 0}"></td>

				<td translate="Last call"
					ng-click="setSortCol(1)"
					ng-class="{selected: sortCol === 1}"></td>

				<td translate="Cows"
					ng-click="setSortCol(2)"
					ng-class="{selected: sortCol === 2}"></td>

				<td translate="Red"
					ng-click="setSortCol(3)"
					ng-class="{selected: sortCol === 3}"></td>

				<td translate="Yel"
					ng-click="setSortCol(4)"
					ng-class="{selected: sortCol === 4}"></td>

				<td translate="Whi"
					ng-click="setSortCol(5)"
					ng-class="{selected: sortCol === 5}"></td>

				<td translate="Red/Yel/Whi percent"
					ng-click="setSortCol(6)"
					ng-class="{selected: sortCol === 6}"></td>

				<td translate="Alarms"
					ng-click="setSortCol(7)"
					ng-class="{selected: sortCol === 7}"></td>

				<td translate="Cleaning"
					ng-click="setSortCol(8)"
					ng-class="{selected: sortCol === 8}"></td>

				<td translate="Vc version"
					ng-click="setSortCol(9)"
					ng-class="{selected: sortCol === 9}"></td>

			</tr>
		</thead>
		<tr ng-repeat="farm in farms | sortFarms:sortCol:sortDir" ng-class="farm.style">
			<td hover-target>
				<div ng-if="farm.status < 3">
					<a ng-bind="farm.name" ng-href="#/?id={{farm.vcGUID}}"></a>
				</div>
				<div ng-if="farm.status === 3 && !data.systatUser">
					<span ng-bind="farm.name"></span>
				</div>
				<div ng-if="farm.status === 3 && data.systatUser">
					<a ng-bind="farm.name" ng-href="http://whatismyipaddress.com/ip/{{farm.ipAddress}}" target="_blank"></a>
				</div>
				<hover-template>
					<span ng-bind="farm.vcFullName"></span>
				</hover-template>
			</td>
			<td ng-bind="farm.lastCallText"></td>
			<td ng-bind="farm.nrCows"></td>
			<td ng-bind="farm.nrRedCows"></td>
			<td ng-bind="farm.nrYellowCows"></td>
			<td ng-bind="farm.nrWhiteCows"></td>
			<td class="percent-graph-container">
				<percent-graph farm="farm"></percent-graph>
			</td>
			<td ng-bind="farm.alarms" ng-class="farm.alarmStyle"></td>
			<td ng-bind="farm.cleaning" ng-class="farm.cleaningStyle"></td>
			<td ng-bind="farm.vcVersion"></td>
		</tr>
	</table>
</div>