html, body, #wrapper {
	height: 100%;
}

body {
	margin: 0;
	background: #103d82;
	padding: 0;
	font-size: 18px;
}
#logo {
	width: 213px;
}
.form-container {
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	max-width: 660px;
}

.logo-container {
	width: 213px;
	margin: 20px auto;
}

.logo-text {
	color: #fff;
	font-size: 24px;
	margin-left: -12px;
	font-weight: bold;
	text-align: center;
}

#wrapper:before {
	/*Fix center-container bug*/
	margin-right: -0.3em;
}

#form {
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	border-radius: 7px;
	padding: 10px;
	margin-bottom: 20px;
	background: #e5e5e5;
}

#form > input, button {
	width: 100%;
}

.label {
	color: #575757;
	font-weight: bold;
	/*margin-left: 5px;*/
}

input.error {
	background: rgb(255, 219, 219);
}

.error-label {
	float: right;
	color: red;
	display: none;
}

input.error + .error-label {
	display: block;
}

input, button.black-button {
	border-radius: 10px !important;
}

input {
	box-sizing: border-box;
	padding: 8px;
	border: 1px solid #aaa;
	outline: none;
	font-size: 18px;
}

.error-label + .label {
	margin-top: 10px;
}

#select-language {
	height: 39px;
}

#select-language button {
	height: 39px;
	padding: 7px;
	text-align: left;
}
#select-language .select-arrows {
	width: 11px;
	height: 18px;

	top: 8px;
	right: 5px;
}

.button-text {
	font-size: 20px !important;
}

#form .lower-part {
	margin-top: 30px;
}

#form .lower-part > * {
	width: 100%;
}


/*#form .form-error {
	color: red;
	display: none;
	transition: opacity 300ms;
}
#form .form-error.show {
	display: block;
}

#form .login-button {
	margin-top: 5px;
}*/
#modal .modal.set-server .inner button {
    width: 80%;
    max-width: initial;
}
#modal .set-server button.cancel {
	margin: 25px 0;
}

@media (max-width: 500px) {
	.form-container {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-height: 420px) {
	#logo {
		width: 144px;
	}
	.logo-text {
		font-size: 19px;
		padding-left: 11px;
	}
}
@media (max-height: 405px) {
	.logo-container {
		width: 144px;
		margin: 10px auto;
	}
}
@media (max-height: 385px) {
	#form {
		margin-bottom: 4px;
	}

	#form .lower-part {
		margin-top: 10px;
	}
}
@media (max-height: 350px) {
	#form input, #form button {
		height: 30px;
	}
	#form button {
		padding: 0;
	}

	#form .select-button .button-text{
		padding-left: 6px;
	}
	#form .select-button .select-arrows {
		top: 5px;
	}

	#form label {
		font-size: 17px;
	}
	#form .lower-part {
		margin-top: 6px;
	}
}