#alarms {
}

.alarms .alarm {
	padding: 10px 0px;
	padding-right: 10px;
	/*margin: 0px 10px;*/
	color: #575757;
}


.alarms .alarm.fatal,
.alarms .alarm.notification {
	/*padding: 10px;*/
	/*margin: 0;*/
	border-radius: 7px;
	color: white;
	cursor: pointer;
}

.alarms .alarm + .alarm {
	margin-top: 5px;
}

.alarms .alarm.standard {
	padding-top: 5px;
	border-bottom: 1px solid #999999;
}
.alarms .alarm.standard:last-child {
	padding-bottom: 0px;
	border: none;
}

.alarms .alarm.fatal .date,
.alarms .alarm.notification .date {
	color: #fff;
	font-size: 12px;
}

.alarms .alarm .date {
	color: #999;
	font-size: 12px;
}

.alarms .alarm > * {
	float: left;
}
.alarms .alarm > .icon {
	/*width: 90px;*/
	width: 80px;
	height: 60px;
	background-position: 10px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

.alarms .alarm > .details {
	/*width: calc(100% - 90px);*/
	width: calc(100% - 80px);
}
.alarms .alarm > .details .title {
	font-weight: bold;
}

#alarms .alarm .details a,
#overview .alarms .alarm .details a {
	color: #103d82;
    text-decoration: underline;
}

#alarms .alarm.fatal .details a,
#overview .alarms .alarm.fatal .details a {
	color: #eee;
}

#alarms .alarm.notification .details a,
#overview .alarms .alarm.notification .details a {
	color: #ddd;
}

.alarms .empty-view {
	margin-top: 50px;
}

.alarms .alarm.fatal {
	background: #ff3300;
}

.alarms .alarm.notification {
	background: #00a6ff;
}

.alarms .alarm.standard > .icon.communication {
	background-image: url(/Resources/../ResAlarm/list_comerror_b.png);
}
.alarms .alarm > .icon.communication  {
	background-image: url(/Resources/../ResAlarm/list_comerror_w.png);
}

.alarms .alarm.standard > .icon.animal {
	background-image: url(/Resources/cowhead_b.png);
}
.alarms .alarm > .icon.animal {
	background-image: url(/Resources/cowhead_w.png);
}

.alarms .alarm.standard > .icon.cleaning {
	background-image: url(/Resources/../ResAlarm/list_cleaning_b.png);
}
.alarms .alarm > .icon.cleaning {
	background-image: url(/Resources/../ResAlarm/list_cleaning_w.png);
}

.alarms .alarm.standard > .icon.filter {
	background-image: url(/Resources/../ResAlarm/list_filter_b.png);
}
.alarms .alarm > .icon.filter {
	background-image: url(/Resources/../ResAlarm/list_filter_w.png);
}

.alarms .alarm.standard > .icon.tank {
	background-image: url(/Resources/../ResAlarm/list_milktank_b.png);
}
.alarms .alarm > .icon.tank {
	background-image: url(/Resources/../ResAlarm/list_milktank_w.png);
}

.alarms .alarm.standard > .icon.temperature {
	background-image: url(/Resources/../ResAlarm/list_temp_b.png);
}
.alarms .alarm > .icon.temperature {
	background-image: url(/Resources/../ResAlarm/list_temp_w.png);
}

.alarms .alarm.standard > .icon.vacuum {
	background-image: url(/Resources/../ResAlarm/list_vakuum2_b.png);
}
.alarms .alarm > .icon.vacuum {
	background-image: url(/Resources/../ResAlarm/list_vakuum2_w.png);
}

@media (max-height: 500px) {
	.alarms .empty-view {
		margin-top: 30px;
	}
}