#overview .chat {

}

#overview .chat > * {
	height: 50%;
}

#overview .chat .date {
	color: #999;
	font-size: 12px;
}

#overview .chat .bubble {
	text-align: center;
	position: relative;

	/*padding: 20px;
	box-sizing: border-box;*/

}
#overview .chat .bubble > div {
	height: 100%;
	display: inline-block;
}
#overview .chat .bubble .icon {
	height: 100%;
	max-width: 100%;
	max-height: 170px;
}
#overview .chat .bubble .unread-count {
	position: absolute;

	border-radius: 50%;

	background: #00a6ff;
	/*background: #0794EE;*/
	color: white;

	display: none;
}
#overview .chat .bubble .unread-count.no-unread {
	background: #77ad1c;
	/*background: #699323;*/
}
#overview .chat .messages {
	position: relative;
	overflow: hidden;
}

#overview .chat .message {
}

#overview .chat .message .name {
	font-size: 18px;
}

#overview .chat .message .text.ellipsis:after {
	content: "...";
	color: #103D81;
	font-weight: bold;
	margin-left: 0.25em;
}

@media (max-width: 650px) {
	#overview .chat .bubble {
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}

	#overview .chat .message .name {
		font-size: 15px;
	}
}

@media (max-height: 450px) {
	#overview .chat .bubble {
		height: 35px;
		padding-top: 0;
	}
	#overview .chat > * {
		height: calc(100% - 35px);
	}
	#overview .chat .bubble .unread-count {
		position: initial;
		width: 24px;
		height: 24px;
		line-height: 24px;
		font-size: 15px;
		margin: auto;
	}
	#overview .chat .bubble img {
		display: none;
	}
}