#production .choose-farm {
	height: 50px;
}
.production .section > * {
	float: left;
	height: 100%;
}
.production .section .icon {
	width: 55px;
}

.production .section .img-icon {
	width: 42px;
	height: 42px;
}
.production .section .fields {
	width: calc(100% - 55px);
}

.production .section .field .time-period {
	color: #999;
}
.production .section .field .value {
	font-size: 25px;
	font-weight: bold;
}
.production .section .field.seven-days .value {
	color: #888;
}
.production .section .field .trend {
	font-weight: bold;
	color: #F29327;
}
.production .section .field .trend.up {
	color: #86B930;
}
.production .section .field .trend.down {
	color: #EB1E23;
}
.production .section .field .trend .trend-arrow {
	height: 16px;
}

#production .section {
	width: 50%;
	float: left;
	box-sizing: border-box;

	margin-top: 20px;
}
#production .section + .section {
	border-left: 1px solid #999;
	padding-left: 9px;
}

@media (max-width: 400px) {
	#production .section {
		width: 100%;
		float: none;
	}
	#production .section + .section {
		border: 0;
		border-top: 1px solid #999;
		padding-top: 19px;
	}
}
