div.blockDiv {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 300000;
  filter: alpha(opacity=0);
	opacity: 0.00;
	background-color: black;
}
div.contextMenu {
	z-index: 300001;
	float: left;
	border: 1px solid black;
	text-align: left;
	background-color: white;
	color: black;
	position: absolute;
	padding: 2px;
}
div.contextMenu div.activeOption:hover {
	background-color: #cccccc;
	cursor: default;
}
div.contextMenu div.inactiveOption:hover {
	cursor: default;
}
.treeInnerContainer:hover {
	background-color: #cccccc;
	cursor: default;
}
table.spreadSheet {
	width: 100%;
}
table.spreadSheet td.title {
	background-color: lightgray;
	cursor: default;
}
table.spreadSheet td.cell {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
table.spreadSheet td.lastCell {
	border-bottom: 1px solid black;
}