<div id="settings" class="ver-set saved">
	<input type="hidden" data-prop="id" value="{{id}}">
	<input type="hidden" data-prop="target" value="{{id}}">

	<div class="row clearfix">
		<div>
			<button class="black-button big-button button back">{{translate 'Back'}}</button>
		</div>
		<div class="right clearfix buttons">
			<button class="black-button big-button button reset" disabled="disabled"> {{translate 'Reset'}}</button>
			<button class="black-button big-button button save" disabled="disabled">
				<div class="text">{{translate 'Save'}}</div>
				<img class="success" src="/Resources/check.png" alt="{{translate 'Error'}}">
				<img class="error" src="/Resources/cross.png" alt="{{translate 'Success'}}">
			</button>
		</div>
	</div>

	<div class="section">
		<div class="header title">{{translate 'Profile'}}</div>
		<div class="content">
			<div class="row clearfix">
				<div>{{translate 'First name'}}</div>
				<input type="text" value="{{firstName}}" data-prop="firstName">
			</div>
			<div class="row clearfix">
				<div>{{translate 'Last name'}}</div>
				<input type="text" value="{{lastName}}" data-prop="lastName">
			</div>
			<div class="row clearfix">
				<div>{{translate 'e-mail'}}</div>
				<input type="email" value="{{email}}" data-prop="email">
			</div>
			<div class="row clearfix">
				<div>{{translate 'Language'}}</div>
				<select class="language">
					{{#each languages}}
					<option value="{{languageCode}}" {{#compare languageCode ../lang}}selected="selected"{{/compare}}>
						{{languageLabel}}
					</option>
					{{/each}}
				</select>
			</div>

			<div class="password-controller">
				<input type="hidden" value="0" data-prop="pwd"> 
				<div class="row clearfix">
					<div>{{translate 'Old password'}}</div>
					<div class="field old clearfix">
						<input type="password" data-prop="oldPassword" data-extra>
						<div class="check"></div>
					</div>
				</div>
				<div class="row clearfix password-input">
					<div>{{translate 'New password'}}</div>
					<div class="field new clearfix">
						<input type="password" data-prop="newPassword" data-extra>
						<div class="check"></div>
					</div>
				</div>
				<div class="verify-container">
					<div class="right password-problem"></div>
					<div class="row clearfix verify-container hidden">
						<div>{{translate 'Verify password'}}</div>
						<div class="field verify clearfix">
							<input type="password" data-prop="verifyPassword" data-extra>
							<div class="check"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="header title">{{translate 'My phone notifications'}}</div>
		{{#with deviceNotifications}}
		<div class="content">
			<div class="row clearfix">
				<div>{{translate 'Subscribe'}}</div>
				<div>{{checkbox checked=doNotify data-prop='deviceNotifications.doNotify'}}</div>
			</div>
			<div class="row clearfix">
				<div>{{translate 'Vibration'}}</div>
				<div>{{checkbox checked=isVibration data-prop='deviceNotifications.isVibration'}}</div>
			</div>
			<div class="row clearfix">
				<div>{{translate 'Quiet time'}}</div>
				<div class="silent-time">
					<div>{{checkbox checked=useQuietTime data-prop='deviceNotifications.useQuietTime'}}</div>
					<div class="silent-time-setup">
						<div class="select clearfix">
							<span>{{translate 'from'}}</span>
							<div class="timepicker-controller">
								<input type="hidden" value="{{millisecFromTime}}" data-prop="deviceNotifications.millisecFromTime" data-default-value="72000000">
								{{timepicker}}
							</div>
						</div>
						<div class="select clearfix">
							<span>{{translate 'to'}}</span>
							<div class="timepicker-controller">
								<input type="hidden" value="{{millisecToTime}}" data-prop="deviceNotifications.millisecToTime" data-default-value="21600000">
								{{timepicker}}
							</div>
						</div>
					</div>
					<div class="explination">
						{{translate 'Adjust volume'}}
					</div>
				</div>
			</div>
		</div>
		{{/with}}
	</div>

	{{#each notify}}
	<div class="section">
		<input type="hidden" data-prop="{{join 'notify.' @index '.domainName'}}" value="{{domainName}}">
		<input type="hidden" data-prop="{{join 'notify.' @index '.domainId'}}" value="{{domainId}}">

		<div class="header title">{{translate 'from'}} {{domainName}}</div>
		<div class="body">
			{{#with notifyFarmData}}
			<table class="notify">
				<tr>
					<td></td>
					<td>{{translate 'Subscribe'}}</td>
					<td>{{translate 'Not under quiet time'}}</td>
				</tr>
				<tr>
					<td>{{translate 'Stop alarms'}}</td>
					<td>{{checkbox checked=isStopAlarm data-prop=(join 'notify.' @index '.notifyFarmData.isStopAlarm')}}</td>
					<td>{{checkbox checked=isStopAlarmQuiet data-prop=(join 'notify.' @index '.notifyFarmData.isStopAlarmQuiet')}}</td>
				</tr>
				<tr>
					<td>{{translate 'Notifications'}}</td>
					<td>{{checkbox checked=isNotificationAlarm data-prop=(join 'notify.' @index '.notifyFarmData.isNotificationAlarm')}}</td>
					<td>{{checkbox checked=isNotificationAlarmQuiet data-prop=(join 'notify.' @index '.notifyFarmData.isNotificationAlarmQuiet')}}</td>
				</tr>
				<tr>
					<td>{{translate 'Messages'}}</td>
					<td>{{checkbox checked=isChatMessageAlarm data-prop=(join 'notify.' @index '.notifyFarmData.isChatMessageAlarm')}}</td>
					<td>{{checkbox checked=isChatMessageAlarmQuiet data-prop=(join 'notify.' @index '.notifyFarmData.isChatMessageAlarmQuiet')}}</td>
				</tr>
				<tr>
					<td>{{translate 'Farm communication problems'}}</td>
					<td>{{checkbox checked=isVcCommunicationProblemNotification data-prop=(join 'notify.' @index '.notifyFarmData.isVcCommunicationProblemNotification')}}</td>
					<td>{{checkbox checked=isVcCommunicationProblemNotificationQuiet data-prop=(join 'notify.' @index '.notifyFarmData.isVcCommunicationProblemNotificationQuiet')}}</td>
				</tr>
			</table>
			{{/with}}
		</div>
	</div>
	{{/each}}

	<div class="section">
		<div class="header title">{{translate 'My phones'}}</div>
		<div class="content devices">
			{{#each phones}}
			<div class="device-controller">
				<input type="hidden" value="{{id}}" class="id" data-prop="{{join 'phones.' @index '.id'}}">

				<input type="hidden" value="{{toString delete}}" class="delete" data-prop="{{join 'phones.' @index '.delete'}}">

				<div class="row clearfix">
					<div>{{translate 'Phone'}}</div>
					<input type="text" value="{{name}}" class="name" data-prop="{{join 'phones.' @index '.name'}}">
				</div>

				<div class="row device-row clearfix">
					<div>
						<div>{{translate 'Type'}}</div>
						<div>{{translate 'Created'}}</div>
					</div>
					<div class="device-right-col clearfix">
						<div>{{type}}</div>
						<button class="black-button device-button button test">{{translate 'Test'}}</button>
						<div>{{created}}</div>
					</div>
				</div>
				<div class="row device-row clearfix">
					<div>
						<div>{{translate 'App version'}}</div>
						<div>{{translate 'OS version'}}</div>
					</div>
					<div class="device-right-col clearfix">
						<div>{{appVer}}</div>
						<button class="black-button device-button button delete">{{translate 'Delete'}}</button>
						<div>{{osVer}}</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>