<div id="version" class="ver-set">
	<button class="black-button big-button back">{{translate 'Back'}}</button>
	{{#each ddm}}
	<div class="section ddm">
		<div class="header border-below">
			<div class="title">{{id}}</div>
			<div class="date">
				<span>{{translate 'Date'}}</span>
				<select>
					{{#each ver}}
					<option>{{time}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="content clearfix"></div>
	</div>
	{{/each}}

	<div class="section">
		<div class="header border-below">
			<div class="title">{{translate 'VC'}}</div>
		</div>
		<div class="content">
			<div>{{translate 'Version'}} {{vc}}</div>
		</div>
	</div>

	{{#each vms}}
		<div class="section vms expandable">
			<div class="header border-below">
				<div class="title target">{{translate 'Robot'}} {{name}}</div>
				<div class="date">
					<span>{{translate 'Date'}}</span>
					<select>
						{{#each ver}}
						<option>{{time}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="content target">
				<div class="container expandable"></div>
				<div class="arrow"></div>
			</div>
		</div>
	{{/each}}

	<div class="section">
		<div class="header border-below">
			<div class="title">{{translate 'App server'}}</div>
		</div>
		<div class="content">
			<div>Version {{appServerBuildName}}</div>
		</div>	
	</div>
</div>